@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  height: 30px;
  width: 125px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  padding: 0px 16px 0px 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.left-links, .right-links {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

li a {
  color: gray;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 92vh;
}

.footer {
  background-color: #eee;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

/*.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */